[1;36m
欢迎来到锦程消费金融 ^_^

**************************************************
* 生产环境请勿随意操作
* 机  房： {{ idc }}
* 环  境： {{ env }}
* 主机名： {{ inventory_hostname }}
* ip地址： {{ ansible_host }}
***************************************************
[0m
