#!/bin/bash

find /opt/app_logs/ -type f -name '*.log*' -mtime +30 -exec rm -f {} \;
find /opt/app_logs/ -type f -name '*.hprof' -mtime +7 -exec rm -f {} \;
find /opt/app_logs/ -type f -name '*.dump' -mtime +7 -exec rm -f {} \;
find /opt/app_logs/ -type f -name 'heap_trace.txt' -mtime +7 -exec rm -f {} \;
find /opt/app_logs/ -type f -name 'ROOT.jar' -mtime +7 -exec rm -f {} \;
