input {
    kafka {
        max_partition_fetch_bytes => "5242880"
        bootstrap_servers => "{{ kafka_servers }}"
        group_id => "triThirtylog"
        decorate_events => true
        topics_pattern => ".*_rpc-access_log"
        consumer_threads => 3
        codec => json {
            charset => ["UTF-8"]
        }
    }
}

filter {
    if [fields][logtype] == "rpc-access" {
        grok {
            match => ["message", "\[(?<datetime>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})\]\s{1,}(?<clientaddr>(%{IPORHOST}:\d{1,5}))\s{1,}->\s{1,}(?<serveraddr>(%{IPORHOST}:\d{1,5}))\s{1,}-(.*)"]
        }
        date {
            match => [ "datetime","yyyy-MM-dd HH:mm:ss","ISO8601" ]
            timezone => "Asia/Chongqing"
        }
        mutate {
            remove_field => [ "dissect" ]
            lowercase => [ "[@metadata][kafka][topic]" ]
        }
    } else {
        drop { }
    }
}

output {
    elasticsearch {
        hosts => {{ elasticsearch_servers }}
        index => "%{[@metadata][kafka][topic]}-%{+xxxx.ww}"
    }
}
